@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color1: #2f5f42;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  background-color: #5eec97;
}

.signIn {
  background-color: var(--color1);
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
}

.signInForm {
  position: absolute;
  right: 0;
  background-color: var(--color1);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.signInForm button {
  background-color: #0e9845;
  border-radius: 4px;
  padding: 4px;
}

input:focus {
  outline: none;
}

.signInBox {
  position: relative;
}

.title {
  display: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.HomePage {
  display: relative;
}